<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Delete Employee</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<h2>Delete Student</h2>

<div style="text-align: center; padding-top:50px">
  <form action="/delete" method="POST">
    <div class="form-group">
      <label for="basektball_id">SELECT A TEAM TO DELETE</label><br/>
      <select id="basektball_id" name="id">
      <% if(typeof students != "undefined" && students.length > 0){ %>
        <% students.forEach(function(student){ %>
          <option value="<%= student.basketball_id %>">
            <%= student.basketball_id + ", " +  student.team_name %>
          </option>
        <% }) %>
      <% } %>
      </select>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-danger">
        DELETE STUDENT
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </div>
  </form>
</div>
