<ol class="breadcrumb">
    <li><a href="/">Home</a></li>
    <li class="active">Edit Team</a></li>
</ol>

<br/>
<%- partial ('partials/statusmessage.ejs') %>

<form action="#" method="">
  <div class="form-group">
    <label for="basketball_id">SELECT A TEAM TO UPDATE</label><br/>
    <select id="basketball_id" name="id">
    <% if(typeof students != "undefined" && students.length > 0){ %>
      <% students.forEach(function(student){ %>
        <option value="<%= student.basketball_id %>">
          <%= student.basketball_id + ", " +  student.team_name %>
        </option>
      <% }) %>
    <% } %>
    </select>
  </div>
</form>

<h2>Update Team</h2>
<form action="/update" method="POST" class="form-horizontal" id="updateStudentForm">
  <input type="hidden" name="id" id="basketball_id" value="">
  <div class="form-group">
    <label for="team_name" class="col-sm-2 control-label">team_name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="team_name" name="team_name" placeholder="team_name" required>
    </div>
  </div>
  <div class="form-group">
    <label for="city" class="col-sm-2 control-label">city</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="city" name="city"  placeholder="city" required>
    </div>
  </div>
  <div class="form-group">
    <label for="offensive_average" class="col-sm-2 control-label">Average PPG</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="offensive_average" name="offensive_average" placeholder="" required>
    </div>
  </div>
  <div class="form-group">
    <label for="logo" class="col-sm-2 control-label">Logo</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="logo" name="logo" placeholder="">
    </div>
  </div>
  <div class="form-group">
    <label for="mascot" class="col-sm-2 control-label">Mascot</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="mascot" name="mascot" placeholder="1400">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Update Team</button>
    </div>
  </div>
</form>
